#img-card{
	height: 200px;
}

#card .btn-icon{
	position: absolute;
	top: 20px;
	right: 20px;
}

.total-harga{
	position: absolute;
	top: 20px;
	right: 20px;
	color: green;
}

.counter{
	display: flex;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#card .btn-icon .icon{
	border: 1px solid grey;
	box-shadow: 0px 0px 10px .5px grey;
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
	background-color: white;
}